@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&family=Roboto:wght@400;700&display=swap');
* {
    font-family: 'Roboto', sans-serif;
}

html {
    scroll-behavior: smooth;
}

h1 {
    font-size: 1em;
    font-weight: 700;
    text-transform: uppercase;
}

h1 span {
    display: none;
}

.bg-dark {
    background-color: #111!important;
}

.p-section {
    padding-top: 56px;
}

.h-section {
    height: calc(100vh - 56px);
}

.menu-item-img {
    width: 100%;
}

.navbar-brand h1, .nav-link {
    transition: all 300ms;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    letter-spacing: 3px;
}

.navbar-brand:hover h1, .nav-link:hover {
    color: #f8cd42!important;
}

.bg-pattern {
    background-image: url("img/bg-patern.png");
}

@media (min-width: 425px) {
    .menu-item-img {
        width: 400px;
    }
}

@media (min-width: 992px) {
    .menu-item-img {
        width: 440px;
    }
}

@media (min-width: 1200px) {
    .menu-item-img {
        width: 500px;
    }
}