html {
    scroll-behavior: smooth;
}

.p-section {
    padding-top: 56px;
}

.h-section {
    height: calc(100vh - 56px);
}

.vignette {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(var(--gray-dark), rgba(0,0,0,0) 10% 90%, var(--gray-dark));
    z-index: 100;
}