html {
    scroll-behavior: smooth;
}

.bg-dark {
    background-color: #222!important;
}

.p-section {
    padding-top: 56px;
}

.h-section {
    height: calc(100vh - 56px);
}

.menu-item-img {
    width: 100%;
}

@media (min-width: 425px) {
    .menu-item-img {
        width: 400px;
    }
}

@media (min-width: 992px) {
    .menu-item-img {
        width: 440px;
    }
}

@media (min-width: 1200px) {
    .menu-item-img {
        width: 500px;
    }
}